<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name/>
    <listener>
        <listener-class>controlador.ControladorWeb</listener-class>
    </listener>
    <listener>
        <listener-class>controlador.ControladorWebCCA</listener-class>
    </listener>
    <listener>
        <listener-class>controlador.Exporta</listener-class>
    </listener>
    <servlet>
        <servlet-name>controlador.ControladorWeb</servlet-name>
        <servlet-class>controlador.ControladorWeb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlador.ControladorWebCCA</servlet-name>
        <servlet-class>controlador.ControladorWebCCA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlador.Exporta</servlet-name>
        <servlet-class>controlador.Exporta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditorExpressao</servlet-name>
        <servlet-class>controlador.EditorExpressao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador.ControladorWeb</servlet-name>
        <url-pattern>/controlador.ControladorWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlador.ControladorWebCCA</servlet-name>
        <url-pattern>/controlador.ControladorWebCCA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlador.Exporta</servlet-name>
        <url-pattern>/controlador.Exporta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditorExpressao</servlet-name>
        <url-pattern>/EditorExpressao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <!-- Parte do CeWolf -->
    <servlet>
        <servlet-name>CewolfServlet</servlet-name>
        <servlet-class>de.laures.cewolf.CewolfRenderer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CewolfServlet</servlet-name>
        <url-pattern>/cewolf/*</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>jdbc:mysql://localhost:3306/pf</description>
        <res-ref-name>gerarnovoobjeto</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
